<div class="row">
    <div class="col-md-9" ng-show="isUserAdded">
        <div class="page-header">
            <h2>Room : {{roomName}}</h2>
        </div>
        <!-- Chat box -->
        <div class="row">
            <div class="col-md-12">
                <form name="chatForm" ng-submit="send()">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" ng-model="data.message" placeholder="Type your message here...">
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-success btn-block"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row messagesBox">
            <div class="col-md-7 col-sm-7 col-xs-7" ng-repeat="m in messages" ng-class="{'pull-right': m.sent, 'pull-left': !m.sent}">
                <div class="alert" ng-class="{'alert-info': m.sent, 'alert-warning': !m.sent}">
                    <h4>{{m.user}}</h4>{{m.text}}</div>
            </div>
        </div>
        <!--<h2>Type here to broadcast:</h2>
                <p></p>
                <div text-angular ng-model="htmlVariable" ng-change="change(htmlVariable)"></div>
                <hr>
                <p><strong>Output: </strong></p>
                <div ng-bind-html="htmlVariable"></div>-->
    </div>
    <div class="col-md-3 side-bar">
        <h1>{{userName}}</h1>
        <form method="POST" role="form" ng-submit="addMe()" ng-hide="isUserAdded">
            <!-- <legend>Current Users</legend> -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Type your name to begin" ng-model="userName">
            </div>
        </form>
        <h4>Online Users</h4>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in allUsers">
                <i class="fa fa-circle green" ng-class="{'red': discIdx == $index, 'blue': userName === user.name}"> </i> &nbsp; {{user.name}}
            </li>
        </ul>
    </div>
</div>
